@charset "UTF-8";

.button__text {
  white-space: nowrap;
  line-height: normal;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  font-size: 14px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-items: center;
  padding: 0;
  margin-right: 5px;
}

.button_like_label {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 23px 25.5px 0 0;
}

.like_heart {
  background-color: transparent;
  border: transparent;
}

.sparks {
  opacity: 0;
  stroke: none;
}
.heart .contour {
  fill: var(--accent-color);
  transition: 0.3s linear;
}

.heart .main-body,
.heart .core {
  fill: transparent;
  stroke: transparent;
}

.heart .core {
  transition: 0.3s linear 0.03s;
}

button.card__icon-button:hover .core {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  transition: 0.3s linear;
}

.heart .main-body {
  transition: 0.3s linear;
}

button.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  transition: 0.3s linear 0.05s;
}

button.card__icon-button:active .core {
  fill: var(--fill-color-icon-heart);
  stroke: var(--fill-color-icon-heart);
  transition: 0.3s ease;
}

button.card__icon-button:active .main-body {
  fill: var(--fill-color-icon-heart);
  stroke: var(--fill-color-icon-heart);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color-icon-heart);
  stroke: var(--fill-color-icon-heart);
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color-icon-heart);
  stroke: var(--fill-color-icon-heart);
  transition: 0.3s ease-in;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color-icon-heart);
  stroke: var(--fill-color-icon-heart);
  transition: 0.3s ease-in 0.06s;
}

.like-icon.is-liked .heart {
  animation: after_liked 0.3s ease-in 0.1s alternate;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}

.button_save,
.card__like-button {
  width: 130px;
  padding: 11.5px 0;
}

.button_card {
  background-color: var(--background-color);
  font-family: var(--font-family-decoration);
  line-height: 90%;
  font-size: 14px;
  position: relative;
  border-radius: 0;
  transition: 0.3s ease;
  font-weight: 400;
  border: 2px solid var(--accent-color);
}

.button_card:focus-visible {
  outline: none;
  box-shadow: 2px 2px;
}

.card__icon-button:focus-visible {
  transition: 0.3s ease;
  outline: 2px solid var(--accent-color);
}

.button_card::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  transition: 0.5s ease-in-out;
  top: 0;
  left: 0;
}

.button_card:hover::before {
  transition: 0.5s ease-in-out;
  width: 100%;
}

.section_save {
  align-self: center;
}

.floppy_button_container {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button_save {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 15px 20px;
  width: auto;
  height: auto;
  margin-bottom: 105px;
}

@media (width <= 376px) {
  .button_save {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .floppy_button_container {
    width: 28px;
    height: 28px;
  }
}

.floppy_dialog_conteiner {
  width: 39px;
  height: 39px;
  align-self: center;
}
