/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family-main: "Inter", "Arial", sans-serif;
  --font-family-decoration: "Press Start 2P", "Arial Black", fantasy, system-ui;
  --background-image: repeating-linear-gradient(
      transparent,
      transparent 2px,
      var(--background-gradient-color) 2px,
      var(--background-gradient-color) 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      var(--background-gradient-color) 2px,
      var(--background-gradient-color) 4px
    ),
    var(--cover-gradient);
  --fill-color-icon-heart: #ff0000;
}
